@import url('https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter';
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

